  
<section class="users-section col-md-11 d-flex row mx-auto">
  <% @users.each do |user| %>
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">
            <%= "Name: #{user.name}" %>
          </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= "Name: #{user.name}" %>
        </h6>
        <a href="#" class="card-link">
          <%= link_to "View", user_path(user) %>
        </a>
      </div>
    </div>
  <% end %>
</section>
