<section class="user-section">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <%= "Name: #{@user.name}" %>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= "Name: #{@user.name}" %>
      </h6>
      <a href="#" class="card-link">
        <%= link_to "Back", users_path %>
      </a>
    </div>
  </div>
</section>
